@import "../../.cache/wal/colors-waybar.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font;
    font-size: 13px;
}

#bluetooth {
	font-size: 14px;
	color: alpha(@foreground, 0.9);
	padding-right:6px;
	padding-left:6px;
        margin-bottom: 6px;
        margin-top: 6px;
}

#bluetooth:hover {
        margin-bottom: 4px;
        color: @color5;
        border-bottom: 2px solid @color5;
}


#custom-start {
        font-size: 14px;
        color: alpha(@foreground, 0.9);
        padding-right:12px;
        padding-left:12px;
        margin-bottom: 6px;
        margin-top: 6px;
        margin-right:12px;
        margin-left:12px;
}

#custom-start:hover {
        margin-bottom: 4px;
        color: @color6;
        border-bottom: 2px solid @color6;
}

#pulseaudio {
	color: alpha(@foreground, 0.9);
	font-size: 13px;
	padding-right:6px;
	padding-left:6px;
	margin-bottom: 6px;
	margin-top: 6px;
	padding-bottom: 1px;
}

#pulseaudio:hover {
	margin-bottom: 4px;
	color: @color4;
        border-bottom: 2px solid @color4;
}

#clock {
	padding-right: 6px;
	padding-left: 6px;
	margin-top: 6px;
	margin-bottom: 6px;
	margin-right: 6px;
	margin-left: 6px;
	border-radius: 2;
	color: alpha(@foreground, 0.9);
	border-radius: 2;
	font-size: 14px;
}
#clock:hover {
        color: @color2;
        border-bottom: 2px solid @color2;
        margin-bottom: 4px;

	
}

#network {
	font-size: 13px;
	color: alpha(@foreground, 0.9);
	margin-top:6px;
	margin-bottom:6px;
	padding-left:6px;
	padding-right:6px;
        border-radius: 0;
}

#network:hover {
	color: @color3;
	border-bottom: 2px solid @color3;
        margin-bottom:4px;
}


#battery {
        color: alpha(@foreground, 0.9);
	font-size:13;
	padding-right:6px;
	padding-left:6px;
	margin-bottom:6px;
	margin-top:6px;
}
#battery:hover {
        border-bottom: 2px solid @color6;
        color: @color6;
        font-size:14px;
	margin-bottom:4px;
}


window#waybar {
    background-color: alpha(@color0, 0.5);
    border-top: 1px solid @color4;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}


#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button:hover {
    background: transparent;
    border: transparent;
    padding: 4 4px;
}
#workspaces button {
	padding:4px;
	color:alpha(@foreground, 0.9);
	background-color:transparent;
	margin-bottom: 6px;
	margin-right: 4px;
	margin-left: 4px;
	margin-top: 4px;
}

#workspaces button:hover {
	background-color: transparent;
        color: @color2;
        border-bottom: 2px solid @color2;
        margin-bottom: 4px;
        margin-right: 4px;
        margin-left: 4px;
        margin-top: 4px;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}




#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}



#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
